@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,400;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif Display', serif;    
}
/* - - - - - - - - - - Scroll - - - - - - - - - - */
.body::-webkit-scrollbar{
    width: 7px;
    
    background: darkgrey;
}
.body::-webkit-scrollbar-thumb{
    background: goldenrod;
    border-radius: 5px;
}
body{
    background-image: url("https://i.pinimg.com/originals/01/7e/c6/017ec68766316d680f71277402e313e7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ------------------------------ HEADER */
header{
    min-height: 15vh;
    border-bottom: 1px solid goldenrod;
}

.logo__header{
    width: 250px;
    height: 100px;
}


/* ------------------------------ MAIN */
main{
    min-height: 65vh;
    
}

#search{
    width: 20rem;
    height: 3rem;
}
/* ------------------------------ cartas*/








.card{
    border: none;
    cursor: default;
    height: 300px;
    width: 13rem !important;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 30%;
    -webkit-animation: giro 2s 5;
    animation: giro 2s 1;
}

.card h5{
    background: rgba(51, 51, 51, 0.404);
    color: #fff;
    text-align: center;
    margin: 0 0 5% 0;
    padding: 0.5em;
    width: 100%;
}
.color-gry{
background-color: #740001;
}

.color-sly{
background-color: #1a472a;
}

.color-huff{
background-color: #ecb939;
}
.color-rav{
    background-color: #0e1a40;
}
.color-defecto{
    background-color: darkslategray;
}
.img-cards{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.card:hover{
    transform: rotateY(180deg)
}
.card p{
    margin-bottom: .2em;
}


.card .front, .card .back{
    backface-visibility: hidden;
    box-sizing: border-box;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.card .back p{
    text-align: start;
    padding-left: .2rem;
}




.card .back{
    transform: rotateY(180deg);
}

.card .back a{
    padding: .3em .5em;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    font-size: .9em;
    transition: all .2s ease 0s;
}

.card .back a:hover{
    background: #fff;
    color: #333;
    text-shadow: 0 0 1px #333;
}



@-webkit-keyframes giro{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

@keyframes giro{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(0deg);
    }
}
 

/* ------------------------------ ERROR */

/* .content-error h3{

} */
.logo_error{
    width: 250px;
}
span{
    font-style: italic;
}

/* ------------------------------ FOOTER */
footer{
    min-height: 15vh;    
    border-top: 1px solid goldenrod;
    box-shadow: 2px 2px gold;
}

.img__foo{
   width: 60px;
}

/* - - - - - - - - - - B O T O N C I T O  U  P - - - - - - - - - - */

.go-top-container{
    position: fixed;
    bottom: 2rem;
    right: -2rem !important;
    width: 5rem;
    height: 5rem;
    z-index: -1;
    background-color: #16192727;
}
.go-top-button{
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    
}

.go-top-button img{
    position: absolute;
    top: 48%;
    left: 50%;
    width: 5rem;
    transform: translate(-50%, -50%);
}
.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 6rem;
    height: 6rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);

}


@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}


/* ------------------------------ MEDIA QUERY */

@media screen and (max-width: 550px){
    .logo__header{
        width: 250px;
    }
    footer{
        flex-direction: column;
    }
}


